[user]
	name = hongliax
	email = hong-liang_xu@keysight.com
[push]
	default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches --remotes
	co = checkout
	st = status --short
	br = branch
	ci = commit
  fshow = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
  vim = ! sh -c 'nvim `git fshow $1`' -
[core]
	editor = nvim
[merge]
	tool = vimdiff3
[mergetool]
	path = nvim
[mergetool "vimdiff3"]
	path = nvim
